.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.company-logo {
  margin-left: 10px;
}

.mini-tools {
  display: flex;
  align-items: center;
  > * {
    margin-right: 15px;
  }
}

.mini-search-btn {
  border: none !important;
}
.mini-login {
  outline: none;
  border: none;
  background: none;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
