.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100%;
}

.company-logo {
  margin-left: 10px;
}

.mini-tools {
  display: flex;
  align-items: center;
  > * {
    margin-right: 15px;
  }
}

.mini-search-btn {
  border: none !important;
}
.mini-login {
  outline: none;
  border: none;
  background: none;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .company-logo {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 350px) {
  .mini-login {
    display: none;
  }
}
