.add-edit-animal-form {
  width: 75%;
  span {
    padding: 0.5em 0 0.5em 0;
    border-top: 1px solid rgb(94, 94, 94);
  }
  fieldset {
    position: relative;
    border: none;
    padding: 0;
    display: flex;
  }
  .animal-bio-fieldset {
    width: 100%;
    .invalid-tooltip {
      transform: translateY(100%) translateX(400px);
    }
  }
  .animal-image-fieldset {
    .invalid-tooltip {
      transform: translateY(-100%) translateX(40%);
    }
  }
  label {
    width: 10em;
  }
  #weight,
  #height {
    width: 3em;
    margin-right: 1em;
  }
  #bio {
    resize: none;
    flex-grow: 1;
    height: 8em;
  }
  .submit-span {
    display: flex;
    justify-content: center;
  }
  .edit-animal-img-container {
    margin-top: 5px;
    height: 250px;
    width: 250px;
  }
}
.invalid-tooltip {
  transform: translateX(400px);
}
