.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  fieldset {
    position: relative;
    display: flex;
    border: none;
    margin-bottom: 14px;
  }

  label {
    width: 8em;
  }

  textarea {
    width: 600px;
    height: 130px;
    resize: none;
  }

  .no-edit-field {
    border: none !important;
  }
}

.do-stuff-btns {
  display: flex;
  justify-content: center;
  button {
    margin: 5px;
  }
}
