.edit-profile-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  fieldset {
    position: relative;
    display: flex;
    border: none;
    margin-bottom: 14px;
    width: fit-content;
  }

  label {
    width: 8em;
  }

  textarea {
    width: 600px;
    height: 130px;
    resize: none;
  }

  .no-edit-field {
    border: none;
  }
}

.do-stuff-btns {
  display: flex;
  justify-content: center;
  button {
    margin: 6px;
    width: 12em;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 500;
    outline: none;
    &:hover {
      cursor: pointer;
    }
    &:active {
      border: 1px solid black;
    }
  }
}
