.advanced-search-form {
  display: flex;
  width: 40%;
  flex-direction: row;
  flex-wrap: wrap;
  > * {
    display: block;
  }
  span {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px;
  }
  #height, #weight {
    display: flex;
    align-items: center;
    label {
      width: fit-content;
    }
  }
  span * {
    display: inline;
  }
  fieldset {
    margin: 0;
    padding: 0;
    border : none;
  }
  label {
    width: 5em;
    margin-right: 8px;
    flex-shrink: 0;
  }
  .bold {
    font-weight: 600;
  }
  .num {
    width: 3em;
  }
  p {
    margin-left: 2px;
    margin-right: 8px;
  }
  button {
    margin-top: 10px;
  }
}

.no-results {
  margin-top: 40px;
}
