.sign-up-header {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.close-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  height: 1.8em;
  border: none !important;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  fieldset {
    display: flex;
    margin-bottom: 10px;
    border: none;
  }
  label {
    width: 10em;
    margin-right: 10px;
  }
  #firstName {
    width: 8em;
  }
  #email {
    width: 16em;
  }
  .react-tel-input {
    input {
      height: 26px;
      width: 14em;
    }
  }
  #phone {
    width: 8em;
  }
  #password,
  #passwordConfirm {
    width: 12em;
  }
  .submit-container {
    display: flex;
    justify-content: center;
  }
  .submit {
    font-size: 1.1em;
    font-weight: 500;
    width: 4em;
    border: 2px groove black;
    outline: none;
    background: none;
    &:hover {
      cursor: pointer;
    }
    &:active {
      font-weight: 600;
      border: 2px double black;
      background-color: rgb(253, 253, 253);
    }
  }
}

.change-password-form {
  display: flex;
  flex-direction: column;
  fieldset {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    border: none;
    justify-content: space-between;
  }
  .submit-container {
    display: flex;
    justify-content: center;
  }
  label {
    width: fit-content;
    white-space: nowrap;
    margin-right: 10px;
  }
}
