@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html * {
  font-family: "Poppins", sans-serif;
}

input,
textarea,
.form-control {
  border: 1px solid black !important;
  border-radius: 2px !important;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.button-1 {
  font-size: 1.1em;
  font-weight: 500;
  border: 2px groove black;
  outline: none;
  background: none;
  padding: 2px 6px 2px 6px;
  &:hover {
    background-color: black;
    color: rgb(253, 253, 253);
    cursor: pointer;
    text-decoration: underline;
  }
  &:active {
    font-weight: 600;
  }
}

.button-2 {
  border: 2px solid black;
  margin-left: 0.5em;
  padding: 4px;
  margin-right: 5px;
  background-color: none;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    font-weight: 600;
    background-color: black;
    color: white;
  }
  &:active {
    font-weight: 700;
  }
}

.button-3 {
  background: none;
  border: none;
  font-size: 1.1em;
  outline: none;
  color: white;
  width: fit-content;
  margin-top: 5px;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
    font-weight: 500;
    background-color: rgb(17, 16, 16);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.img-container {
  border-radius: 6px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.invalid-field {
  background-color: rgb(232, 247, 248);
  border-radius: 2px;
  outline: none;
  box-shadow: 0 0 8px 2px inset rgb(94, 202, 206);
  border: 2px solid rgb(5, 89, 158) !important;
}

.invalid-tooltip {
  position: absolute;
  right: 10px;
  transform: translateY(-100%);
  height: fit-content;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
  background: rgb(1, 0, 80);
  opacity: 40%;
  color: white;
  border-radius: 5px;
  padding: 5px 3px;
}

.invalid-img-container {
  border: 2px solid rgb(5, 89, 158) !important;
  background-color: rgb(248, 232, 232);
}

.invalid-submit {
  border: 2px solid rgb(138, 0, 0) !important;
  background-color: rgb(255, 206, 206) !important;
  color: rgb(138, 0, 0);
}

.visited {
  color: black;
  text-decoration: none;
}

.submit {
  font-size: 1.1em;
  font-weight: 500;
  width: 4em;
  border: 2px groove black;
  outline: none;
  background: none;
  &:hover {
    cursor: pointer;
  }
  &:active {
    font-weight: 600;
    border: 2px double black;
    background-color: rgb(253, 253, 253);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

::-webkit-scrollbar-thumb:hover {
  background: #180e01;
}
